---
title: Archive
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner " style="background :linear-gradient(#498cbf,#06387a);" data-theme="{{ site.theme-color }}">
    <h2>Archive</h2>
</div>

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}

<ul class="archive">
  {% for post in site.posts %}
      {% assign year = post.date | date: '%Y-%m' %}
      {% assign nyear = post.next.date | date: '%Y-%m' %}
      {% assign year1 = post.date | date: '%Y' %}
      {% assign nyear1 = post.next.date | date: '%Y' %}
      {% if year1 != nyear1 %}
        <h1>{{ post.date | date: '%Y' }}</h1>
        <hr style="height: 2px; background-color: #464545; border:#464545;">
      {% endif %}
      {% if year != nyear %}
          {% assign counter = 0 %}
          {% assign speed = 0 %}
          {% for post in site.posts %}
             {% assign currentYear = post.date | date: '%Y-%m' %}
             {% if year == currentYear %}
                {% assign counter = counter | plus: 1 %}
                {% assign speed = 1 %}
             {% elsif speed == 1 %}
                {% break %}
             {% endif %}
          {% endfor %}
          <h2>{{ post.date | date: '%Y-%m' }}<span class="span_counter">{{ counter }}</span></h2>
      {% endif %}

    <li>
      {% if post.link %}
      <a href="{{ post.link }}">
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">
      <time>{{ post.date | date: "%Y-%m-%d" }}</time>
      {% endif %}
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
</ul>
{% include footer.html %}
<script>
   jQuery(document).ready(function ($) {
     $(window).on('load resize',function() {
       if ($(window).width() < 695) {
           $('li time').hide();
       } else {
           $('li time').show();
       }
     })
   });
</script>
