---
layout: default
home-title: "DooDoo's programming note"
description: "Bring your A game."
---

{% include header.html %}

<div
    class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.header-img %}background: url({{ page.header-img | relative_url }}) no-repeat center center; background-size: cover;{% endif %}"
>
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
</div>

<main class="g-container home-content">
    <div class="article-list">
        {% for post in paginator.posts %}
            <article class="article-item">
                {% if post.cover %}
                <div class="post-cover">
                    <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}"></a>
                    <img src="{{ post.cover | relative_url }}" href="{{ post.url
										| relative_url }}" alt="" width="650" height="190">
                </div>
                {% endif %}
                <section class="post-preview">
                    <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}"></a>
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% endif %}
                    {% if post.subtitle.size==0 or post.subtitle==nil %}
                    <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                    {% endif %}
                </section>
                <footer class="post-meta">
                    <div class="post-tags">
                        {% if post.tags.size > 0 %}
                            {% for tag in post.tags  %}
                            <a href={{ "tags.html#" | append: tag | relative_url }} class="post-tag">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
										<span class="post-date">
										<i class="far fa-calendar-alt"></i>
                    <timedatetime="{{ post.date | date:"%y-%m-%d" }}">{{ post.date | date_to_string }}</time>
										</span>
										<!-- 조회수
										<a href="https://hits.seeyoufarm.com"
														 style="line-height:37px; padding: 0 8px;"><img
           src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=http%3A%2F%2F0xd00d00.github.io%2F{{
                post.date | date :"%y"}}%2F{{post.date | date
                                   :"%m"}}%2F{{post.date | date
                                        :"%d"}}%2F{{ post.url | relative_url
																				}}&count_bg=%23a6abb2&title_bg=%235d5b5b&icon=telegram.svg&icon_color=%23E7E7E7&title=%EC%A1%B0%ED%9A%8C%EC%88%98&edge_flat=false"
																				height="22px"/></a> -->
                </footer>
            </article>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
            {% include pageNav.html %}
        {% endif %}

    </div>

    <aside class="g-sidebar-wrapper">
        <div class="g-sidebar">
            <section class="author-card">
                <div class="avatar">
                    <img src="{{ site.avatar | relative_url }}" alt="">
                </div>
                <div class="author-name" rel="author">{{ site.author }}</div>
                <div class="bio">
                    <p>{{ site.bio }}</p>
                </div>
								<!--{% if site.sns.size > 0 %}-->
                <ul id="sns-links" class="sns-links">
									<li>
										<a href="mailto:0xd00d00b@gmail.com" target="_blank">
										<i class="far fa-email"></i>
									</li>
									<li>
										<a href="//github.com/0xd00d00" target="_blank">
										<i class="fab fa-github"></i>
									</li>

									<!--
                    {% for s in site.sns %}
                    <li>
                        <a href="{{ s[1] }}" target="_blank">
                            <i class="far fa-{{ s[0] }}"></i>
                        </a>
                    </li>
                    {% endfor %}
									-->
                </ul>
								<!--{% endif %}-->
            </section>

            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                {% for tag in site.tags %}
                    {% if forloop.index > site.recommend-condition-size %}
                        {% break %}
                    {% endif %}
                    <a href="{{ "tags.html#" | append: tag[0] | relative_url }}" class="tag">{{ tag[0]}}</a>
                {% endfor %}
            </section>
            {% endif %}
        </div>
	   <div class="search-card">
          <div style="margin-top:16px; padding : 0; border:1px solid #e7eaf1; border-radius : 3px; box-sizing: border-box; box-shadow: 0 1px 3px rgb(0 37 55 / 6%); position : relative; padding : 10px 44px 10px 16px; margin: 0; width: 100%; background-color:#fff; outline:0; z-index:1;">
            <i class="fas fa-edit"></i>
              <text style="font-family:NotoSans-Regular; color: #656565; font-size: 15px"> number of posts : </text><text style="font-family:NotoSans-Bold; color:#43738F; font-size:17px">{{ site.posts.size }}</text>
          </div>
        </div>

        {% if site.search %}
        <div class="search-card">
            <input id="search_input" type="text" placeholder="Search..." autocomplete="off">
            <i class="fas fa-search"></i>
            <div class="search_result"></div>
        </div>
        {% endif %}

    </aside>

</main>

{% include footer.html %}
