<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author"  content="{{ site.author }}">
    <meta name="description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="keywords"  content="{% if page.tags.size > 0 %}{% for tag in page.tags  %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}">
    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css">
    <link rel="stylesheet" href="{{ "/assets/css/github-markdown.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/prism.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/share.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/wiki.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/Hover-master/css/hover.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">
		<!-- this css is font awesome-->
    <link rel="stylesheet" href="/assets/css/all.min.css">
	  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

  <!-- applause button -->
  <link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
  <script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
	<!--
		<script>
			window.onload = function(){
			  var anchors = document.getElementsByTagName('a');
				for (var i = 0; i < anchors.length; i++){
					if(anchors[i].id != 'nav' && anchors[i].id != 'toggle')
						anchors[i].setAttribute('target', '_blank');
				}
			}
		</script>
		-->
	{% if site.mathjax %}
	{% include mathjax.html %}
	{% endif %}
    {% include anchor.html %}
</head>
