<!DOCTYPE html>
<html>
{% include post-head.html %}

<body>
 <!-- This is the bar which shows scroll percentage -->
  <div class="progress-bar"></div>
  <input id="nm-switch" type="hidden" value="{{ site.nightMode }}"> {% include header.html %}

  <header
    class="g-banner post-header {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }} {% unless page.cover %}post-no-cover{% endunless %}"
    data-theme="{{ site.theme-color }}"
  >
    <div class="post-wrapper">
      <div class="post-tags">
        {% if page.tags.size > 0 %}
          {% for tag in page.tags  %}
            <a href="{{ "/tags.html#" | append: tag | relative_url }}" class="post-tag"><i class="fas fa-tags"></i> {{ tag }}</a>
          {% endfor %}

				<a href="https://hits.seeyoufarm.com" style="float:right;
																							line-height:35px;"><img
					 src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=http%3A%2F%2F0xd00d00.github.io%2F{{
								page.date | date :"%y"}}%2F{{page.date | date
																	 :"%m"}}%2F{{page.date | date
																				:"%d"}}%2F{{ page.url
																				}}&count_bg=%235d5b5b&title_bg=%23d00d00&icon=awesomelists.svg&icon_color=%23E7E7E7&title=%EC%A1%B0%ED%9A%8C%EC%88%98&edge_flat=false"
																			height="22px;"/></a>
        {% endif %}
      </div>
      <h1>{{ page.title }}</h1>
      <div class="post-meta">
        <span class="post-meta-item"><i class="far fa-user-circle"></i> {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</span>
        <time class="post-meta-item" datetime="{{ page.date | date:"%y-%m-%d" }}"><i class="far fa-calendar-alt"></i> {{ page.date | date_to_string }}</time>
				<span class="post-meta-item">
				<i class="fas fa-hourglass-half"></i>
					{% include read_time.html%}
				</span>
      </div>
    </div>
    {% if page.cover %}
    <div class="filter"></div>
		<!--{{ page.cover | relative_url }}-->
      <div class="post-cover" style="background: url('/assets/img/cover_page.png') center no-repeat; background-size: cover;"></div>
    {% endif %}
  </header>

  <div class="post-content visible">
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}

	<div class="col-mg-2 col-lg-2"></div>
    <article class="markdown-body">
      {{ page.content }}
    </article>
	<div class="col-mg-2 col-lg-2"></div>

    {% if site.social-share %}
    <div class="social-share-wrapper">
      <div class="social-share"></div>
    </div>
    {% endif %}
  </div>

  <section class="author-detail">
    <section class="post-footer-item author-card">
      <div class="avatar">
        <img src="{{ site.avatar | relative_url }}" alt="">
      </div>
      <div class="author-name" rel="author">{{ site.author }}</div>
      <div class="bio">
        <p>{{ site.bio }}</p>
      </div>
      {% if site.sns.size > 0 %}
      <ul class="sns-links">
        {% for s in site.sns %}
        <li>
          <a href="{{ s[1] }}" target="_blank">
                    <i class="iconfont icon-{{ s[0] }}"></i>
                </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </section>
    <section class="post-footer-item read-next">
      {% if page.next.url %}
      <div class="read-next-item">
        <a href="{{ page.next.url | relative_url }}" class="read-next-link"></a>
        <section>
          <span>{{ page.next.title }}</span>
          <p>{{ page.next.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
        </section>
        {% if page.next.cover %}
        <div class="filter"></div>
        <img src="{{ page.next.cover | relative_url }}" alt="">
        {% endif %}
     </div>
      {% endif %}

      {% if page.previous.url %}
      <div class="read-next-item">
        <a href="{{ page.previous.url | relative_url }}" class="read-next-link"></a>
          <section>
            <span>{{ page.previous.title }}</span>
            <p>{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
          </section>
          {% if page.previous.cover %}
          <div class="filter"></div>
          <img src="{{ page.previous.cover | relative_url }}" alt="">
          {% endif %}
      </div>
      {% endif %}
    </section>
		<script src="https://utteranc.es/client.js"
        repo="0xd00d00/blog-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
		</script>
    {% if site.comments.disqus %}
    <section class="post-footer-item comment">
        <div id="disqus_thread"></div>
    </section>
    {% endif %}
  </section>

  {% include footer.html %}

  <script src="{{ "/assets/js/social-share.min.js" | relative_url }}"></script>
  <script>
    socialShare('.social-share', {
      sites: [
        {% for i in site.social-share-items %}
          '{{ i }}'
          {% if forloop.last == false %},
          {% endif %}
        {% endfor %}
      ],
    });
  </script>

  {% if site.comments.disqus %}
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '{{ site.comments.disqus_url }}';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  {% endif %}

  <script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/index.min.js" | relative_url }}"></script>

  <!-- percentage! -->
  <script>
     var element = document.documentElement,
      body = document.body,
      scrollTop = 'scrollTop',
      scrollHeight = 'scrollHeight',
      progress = document.querySelector('.progress-bar'),
      scroll;

    document.addEventListener('scroll', function() {
      scroll = (element[scrollTop]||body[scrollTop]) / ((element[scrollHeight]||body[scrollHeight]) - element.clientHeight) * 100;
      progress.style.setProperty('--scroll', scroll + '%');

	  if (document.getElementsByTagName('Header')[0].classList[2] === "headerDown" && window.innerWidth > 695) {
        progress.style.top = '57px';
      } else {
        progress.style.top = '0px';
      }
    });

	jQuery(document).ready(function ($) {
	  	$(window).on("resize load",function(e) {
			console.log($(window).width());
		  if ($(window).width() < 695) {
			if ($('.headerDown')) {
				$('.g-header').removeClass('.headerDown');
			}
		  }
		  $mkbody = $('.markdown-body');
		  if ($(window).width() > 1500) {
			$mkbody.removeClass("col-md-8 col-lg-8");
			$mkbody.addClass("col-md-6 col-lg-6");
		  } else {
			$mkbody.removeClass("col-md-6 col-lg-6");
			$mkbody.addClass("col-md-8 col-lg-8");
		  }
		})
    });
  </script>
</body>

</html>
