---
title: Wiki
layout: default
---

{% include header.html %}
<div class="g-banner wiki-banner " style="background :linear-gradient(#3c7fb3,#37485e);" data-theme="{{ site.theme-color }}">
    <div>
      <h2>개인 위키 페이지</h2>
      <!-- tagbar h3 꾸미기 -->
      <h3>좋은 Output을 위한 Input 모음</h3>
    </div>
</div>

{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% endif %}



<main class=wiki-content>
{% assign page_offset = 20 %}
{% assign documents = site.wiki | sort: 'updated' | reverse %}
<div class="wiki-content-list">
  
  <div class="wiki-hr-container">
    <hr class="wiki-hr">
    <span class="wiki-tree-span">개인 성장을 위한 <span class="blue">지식의 나무</span></span><br>
    <span class="blue" style="font-family:Window-Maple-Light;">널두위키</span>에 오신걸 환영합니다!<br>
    <span class="wiki-text-underline">부정확한 부분</span>은 과감히 댓글 남겨주세요!<br>
    <hr class="wiki-hr">
    <label class="wiki-label" for="search-input"># 위키트리</label>
    <label class="wiki-label" for="search-input"># 위키검색</label>
    <label class="wiki-label" for="search-input"># 랜덤위키</label>
  </div>

<ul id="wiki-list-container">
  <h2><i class="fa fa-folder-open"></i> 최근 변경된 문서(수정중 / 데스크탑 기준으로 만드는 중)</h2>
  {% for wiki in documents limit: page_offset %}
    <li>
      <a href=" {{ wiki.url | prepend: site.baseurl }}"><i class="fa fa-file-signature"></i> {{ wiki.updated | date: "%Y-%m-%d" }} - {{ wiki.title }}</a>
    </li>
  {% endfor %}
</ul>
  {% if documents.size > page_offset %}
  <div id="wiki-list-a-wrapper"><a id="wiki-list-a" href href="#" onclick="showDocuments()"> ► 남은 문서 전체보기 ({{ documents.size | minus: page_offset }} 개)</a></div>
  {% endif %}
</div>
</main>

{% include footer.html %}
<script>
   function displayCheck()
   {
       if ($(window).width() < 695) {
		   $('time').css('display','none');
       } else {
		   $('time').css('display','block');
       }

   }

   window.addEventListener('DOMContentLoaded', displayCheck);

   
//   이 코드 넣어서 테스트 해보면 됨 -> 이걸로 접기 가능해짐
//   data-를 통해 넘길 수 있다는 것 기억할 것.
//   wiki page를 꾸며보자
   $("#wiki-list-a").click(function(event) {
     event.preventDefault();
     const listContainer = $('#wiki-list-container');
     if ($("#new_list").length) {
       $(this).text("► 남은 문서 전체보기 ({{ documents.size | minus: page_offset }} 개)");
       listContainer.find('li').slice( {{ page_offset }} ).remove();
     } else {
       $(this).text("▲ 전체문서 숨기기");
       {% for wiki in documents offset: page_offset %}
          listContainer.append('<li id="new_list"><a href=" {{ wiki.url | prepend: site.baseurl }}"><i class="fa fa-file-signature"></i> {{ wiki.updated | date: "%Y-%m-%d" }} - {{ wiki.title }}</a></li>');
       {% endfor %} 
     }
   })
  
  // JavaScript 코드
function showDocuments() {
  var hiddenItems = document.getElementById("hidden-items");
  if (hiddenItems.style.display === "none") {
    hiddenItems.style.display = "block";
    alert('숨기기..?');

    this.textContent = "전체문서 숨기기";
  } else {
    hiddenItems.style.display = "none";
    this.textContent = "전체문서 보기 {{ documents.size }} 개";
  }
}

</script>

