<!DOCTYPE html>
<html>
{% include wiki-head.html %}

<!-- wiki page tree -->
 <!-- wiki container
    -  |
    -  -- wiki-head
    -  |          |
    -  |          -- wiki-head-nav
    -  -- wiki-body
    -             |
    -             -- wiki-body-outline
    -                                |
    -                                -- wiki-body-head
    -                                |
    -                                -- wiki-body-content -->



<body>
  <div class=wiki-container>
      <div id="wiki-post-header" class="wiki-head">
        <nav class="wiki-head-nav">
            <ul>
                <li ><a href="/wiki/root-index/">  널두위키</a></li>
                <li><a href="/tags.html">테그이동</a></li>
                <li><a href="/archive.html">아카이브</a></li>
            </ul>
        </nav>
      </div>
    <div class="wiki-body">

      <div class="wiki-body-outline">
        <header> <!-- wiki-body-head -->
          <div class="wiki-page-info">
            <a><i class="far fa-user-circle"></i> {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a> 
            <a>
            <i class="fas fa-hourglass-half"></i>
              {% include read_time.html%}
            </a>
          </div>
          <h1 class="wiki-page-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
          <div class="history-time">
              <p><i class="far fa-calendar-alt"></i> 최초 생성 시각: {{ page.date | date: '%Y-%m-%d %H:%M:%S' }}</p>
              <p><i class="far fa-calendar-alt"></i> 최근 수정 시각: {{ page.updated | date: '%Y-%m-%d %H:%M:%S' }}</p>
          </div>
          <div class="tag-box">
            <span>분류</span>
            <a href="#">test</a>
          </div>
        </header>

        <div class="wiki-body-content">
          {{page.content}}
        </div> <!-- wiki-body-content -->

        <!-- 공감하기 버튼  -->
        <div style="margin-top:60px; margin-bottom:20px">
          <applause-button class="mb6"
            color=rgb(48,99,142)
            url={{ page.url }} >
          </applause-button>
          <p style="text-align:center; font-family:NotoSans-Bold; color:#30638e">공감하기</p>
        </div>

        <!-- 커맨트 -->
        {% include comment.html %}
      </div> <!-- wiki-body-outline  -->
    </div> <!-- wiki-body -->
  </div> <!-- post -->
</body>

{% include createLink.html %}
<script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
<script src="{{ "/assets/js/index.min.js" | relative_url }}"></script>
<script async src="{{ "/assets/js/toc-highlight.js" | relative_url }}"></script>

<script>
$(document).ready(function() {
    $('#markdown-toc').prepend('<li class="markdown-toc-title"><i class="fa fa-folder-open"></i> <a href="#wiki-post-header">Table Of Contents</a></li>');

    // 귀찮아서 @@ -> <br>로 변경하는걸 만듬
    const paragraphs = document.getElementsByTagName('p');
    for (let i = 0; i < paragraphs.length; i++) {
      const text = paragraphs[i].innerHTML;
      paragraphs[i].innerHTML = text.replace(/@@+/g, '<br>');
    }
});
</script>
</html>
