<!DOCTYPE html>
<html>
{% include wiki-head.html %}

<body>
  <header id="wiki-post-header" class="wiki-header" style="background-color:#30638e;">
    <nav class="wiki-nav">
        <ul>
            <li ><a href="/wiki/root-index/">  널두위키</a></li>
            <li><a href="/tags.html">테그이동</a></li>
            <li><a href="/archive.html">아카이브</a></li>
        </ul>
    </nav>
  </header>

  <div class="wiki-container">
    <div class="wiki-post">
      <header>
        <div class="wiki-page-info">
          <a><i class="far fa-user-circle"></i> {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a> 
          <a>
          <i class="fas fa-hourglass-half"></i>
            {% include read_time.html%}
          </a>
        </div>
        <h1 class="wiki-page-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <div class="history-time">
            <p><i class="far fa-calendar-alt"></i> 최초 생성 시각: {{ page.date | date: '%Y-%m-%d %H:%M:%S' }}</p>
            <p><i class="far fa-calendar-alt"></i> 최근 수정 시각: {{ page.updated | date: '%Y-%m-%d %H:%M:%S' }}</p>
        </div>
        <div class="tag-box">
          <span>분류</span>
          <a href="#">test</a>
        </div>
      </header>

  <!-- <header> -->
  <!-- <div class="post-wrapperi"> -->
  <!--   <div class="post-tags"> -->
  <!--     {% if page.tags.size > 0 %} -->
  <!--       {% for tag in page.tags  %} -->
  <!--         <a href="{{ "/tags.html#" | append: tag | relative_url }}" class="post-tag"><i class="fas fa-tags"></i> {{ tag }}</a> -->
  <!--       {% endfor %} -->
  <!--     {% endif %} -->
  <!--   </div> -->
  <!--   <div class="post-meta"> -->
  <!--     <span class="post-meta-item"><i class="far fa-user-circle"></i> {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</span> -->
  <!--     [> created time, updated time 2개 넣어야함.<] -->
  <!--     <time class="post-meta-item" datetime="{{ page.date | date:"%y-%m-%d" }}"><i class="far fa-calendar-alt"></i> {{ page.date | date_to_string }}</time> -->
  <!--     <span class="post-meta-item"> -->
  <!--     <i class="fas fa-hourglass-half"></i> -->
  <!--       {% include read_time.html%} -->
  <!--     </span> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- </header> -->

      <div class="wiki-post-content">
        {{page.content}}

      </div>
    </div> <!-- wiki-post -->

    <div style="margin-top:20px; margin-bottom:10px">
      <applause-button class="mb6"
        color=rgb(48,99,142)
        url={{ page.url }} >
      </applause-button>
      <p style="text-align:center; font-family:NotoSans-Bold; color:#30638e">공감하기</p>
    </div>


  <script src="https://utteranc.es/client.js"
      repo="0xd00d00/blog-comments"
      issue-term="pathname"
      theme="github-light"
      crossorigin="anonymous"
      async>
  </script>
  </div> <!-- wiki-container -->
</body>

{% include createLink.html %}
<script src="{{ "/assets/js/prism.js" | relative_url }}"></script>
<script src="{{ "/assets/js/index.min.js" | relative_url }}"></script>
<script async src="{{ "/assets/js/toc-highlight.js" | relative_url }}"></script>

<script>
$(document).ready(function() {
    $('#markdown-toc').prepend('<li class="markdown-toc-title"><i class="fa fa-folder-open"></i> <a href="#wiki-post-header">Table Of Contents</a></li>');

    // 귀찮아서 @@ -> <br>로 변경하는걸 만듬
    const paragraphs = document.getElementsByTagName('p');
    for (let i = 0; i < paragraphs.length; i++) {
      const text = paragraphs[i].innerHTML;
      paragraphs[i].innerHTML = text.replace(/@@+/g, '<br>');
    }
});
</script>
</html>
